recipe.html - {% extends 'index.html' %}
{% block title %} {{recipe['title']}} {% endblock %}
{% block body %}

<center>
  <h2 style="display: block; margin-top: 1.3em;">{{recipe['title']}}</h2><br>
<img src="{{recipe['image']}}" alt="..." width="30%" height="30%" style="display: block; border: 5px black;">
      
<h3 style="margin-top: 0.7em; display: block;">Ingredients:</h3>
  {% for i in recipe['extendedIngredients'] %}
    {{ i['name'].capitalize() }} -
    {{ ("%.2f"|format(i['amount'])).rstrip('0').rstrip('.') }}
    {{  i['unit']  }} <br>
  {% endfor %}      
  <br>
  {{ recipe['instructions'] }} <br>

</center>

{% endblock %}