{% extends 'index.html' %}

{% block title %}{{ recipe['title'] }}{% endblock %}

{% block body %}

<style>
  /* Add a style block for custom styles */
  body {
      margin: 0; /* Remove default body margin */
      padding: 0; /* Remove default body padding */
  }

  #background-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/static/background_food.png');
      background-size: auto;
      background-repeat: repeat;
      opacity: 0.2; /* Adjust the opacity value as needed */
      z-index: -1; /* Send it to the back */
  }

  .container-fluid {
      z-index: 1; /* Bring navbar to the front */
  }
</style>

<nav id="navbars" class="navbar sticky-top">
  <div class="container-fluid" style="margin-bottom: 10px;">
      <a class="navbar-brand" href="#">
          <img src="static/byte_byte.png" alt="Logo0" height="120" class="d-inline-block align-text-top">
      </a>
  </div>
</nav>

<div id="background-container"></div> <!-- Container for background image -->



<div class="row">
    <div id="image_ingredients" class="col-6 col-md-6">
        <p style="padding-top: 3%" class="slide">
          <h1>{{ recipe['title'] }}</h1>
        </p>
        <br><br>
        <p class="desc" >
          <h3>Ingredients:</h3>
          {% for i in recipe['extendedIngredients'] %}
            {{ i['name'].capitalize() }} -
            {{ ("%.2f"|format(i['amount'])).rstrip('0').rstrip('.') }}
            {{ i['unit'] }} <br>
          {% endfor %}
        </p>
    </div>
    <div class="col-6 col-md-6">
        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" width="90%" height="90%" style="border: 5px solid black; margin-top: 30px;">
    </div>
</div>

<div class="instructions" style="text-align: justify; margin-top: 35px; margin-left: 35px; margin-right: 35px;">
  <b><u>Instructions:</u></b><br>
  {{ recipe['instructions'] }}
</div>

{% endblock %}