{% extends 'index.html' %}
{% block title %} Search Recipes {% endblock %}
{% block body %}

<nav class="navbar">
    <div class="container-fluid" style="margin-bottom: 10px;">
      <a class="navbar-brand" href="#">
        <img src="static/byte_byte.png" alt="Logo0" height="120" class="d-inline-block align-text-top">        
      </a>
    </div>
</nav>

<h2 style="text-align: center; margin-top: 1em;"> <a href="/" style="text-decoration: none; color:rgb(0, 0, 0);"> Recipes for you: </a></h2>
<div class="row">
        <div style="display: inline;">
            <ul>
                {% for recipe in recipes %}
                <div id="cell" class="col-4 col-md-4 border border-dark p-3" style="margin: 0.5em;">
                    <li class="media">
                            <h5><a href="/recipe?id={{ recipe['id'] }}">{{ recipe['title'] }}</a></h5>
                            {% if 'likes' not in recipe %}
                            Number of Required Ingredients - {{recipe['missedIngredientCount']}}
                            {% else %}
                            Number of Required Ingredients - {{recipe['missedIngredientCount']}}
                            {% endif %}
                            <img src="{{recipe['image']}}" alt="..." style="width: 7rem; height: 7rem;">
                    </li>
                </div>
                {% endfor %}
            </ul>
        </div>
</div>


{% endblock %}