{% extends 'index.html' %}
{% block title %} Search Recipes {% endblock %}
{% block body %}

<nav class="navbar">
    <div class="container-fluid" style="margin-bottom: 10px;">
      <a class="navbar-brand" href="#">
        <img src="static/byte_byte.png" alt="Logo0" height="120" class="d-inline-block align-text-top">        
      </a>
    </div>
</nav>

<h2 style="text-align: center; margin-top: 1em;"> <a href="/" style="text-decoration: none; color:rgb(0, 0, 0);"> Recipes for you: </a></h2>
<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-6 col-md-4 col-lg-4 mb-3">
            <a href="/recipe?id={{ recipe['id'] }}">
                <div class="card border-dark">
                    <img src="{{ recipe['image'] }}" class="card-img-top" alt="Recipe Image" style="height: 150px; width: 150px; margin: auto; margin-top: 10px; object-fit: fill;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{ recipe['title'] }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}