{% extends 'index.html' %}
{% block title %} Recipes searcher {% endblock %}
{% block body %}


<div class="row">
    <div id="full_form" class="col-6 col-md-6">
        <p style="padding-top: 3%" class="slide">
            What's in your <br>fridge?<br>
        </p>
        <br><br>
        <p class="desc" >
            Enter a list of ingredients and let us do the rest<br>
        </p>
        <form class="form_recipes" action="/recipes">
            <div class="input_holder mb-3" style="max-width: 50%;">
                <input type="text" class="form-control" placeholder="What ingredients do you have (feel free to go into excrutiating detail)" aria-label="  " aria-describedby="button-addon2" name="ingridients">       
            </div>
            <div class="input_button">
                <button class="btn btn-dark" type="submit" id="button-addon2">Search</button>
            </div>   
        </form>
    </div>
    <div class="col-6 col-md-6">
        <img src="/static/fridge_image.png" id="fridge">
    </div>
</div>

<div class="row">
        <div id="cell1" class="col-6 col-md-4 text-center border border-dark p-3">
            <img src="">
        </div>
        <div id="cell2" class="col-6 col-md-4 text-center border border-dark p-3">
            <img src="">
        </div>
        <div id="cell3" class="col-6 col-md-4 text-center border border-dark p-3">
            <img src="">
        </div>
        <div id="cell4" class="col-6 col-md-4 text-center border border-dark p-3">
            <img src="">
        </div>
        <div id="cell5" class="col-6 col-md-4 text-center border border-dark p-3">
            <img src="">
        </div>
        <div id="cell6" class="col-6 col-md-4 text-center border border-dark p-3">
            <img src="">
        </div>
</div>

{% endblock %}